.wrapper {
    position: relative;
  
    text-align:center;
    margin: auto 43%;
}

.inputfield{
    letter-spacing: 0.5px;
    border-radius: 5px;
    font-size:16px;
    padding: 15px 10px 15px 10px;
    background-color: rgba(242, 245, 248, 0.945);
    margin-bottom: 50px;
}

.success{
    margin-top: 50px;
    margin-right:400px;
     color:rgb(47, 255, 64);
     font-weight: bold;
    width:500px;
    margin-left: -120px;
}

.error{
    margin-top: 50px;
    margin-right:400px;
    color:red;
    font-weight: bold;
    width:500px;
    margin-left: -140px;
}

.addcatbutton {
    letter-spacing: 2px;
    border: none;
    width: 133px;
    height: 47px;
    margin-right: 19px;
    border-radius: 23.5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #ff9a9c;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Montserrat-SemiBold";
    
}