
.productimg {
    min-height: 100px;
}

.text{
    text-align: center;
    font-size:14px;
    letter-spacing: normal;
}



/*product name*/
.prod_name{
    background:#f78385; 
    color:#fff;
    font-weight:bold;
}


/*card*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    max-height: 550px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: rgb(17, 17, 17);
    font-size: 15px;
    font-weight: bold;
  }

  .desc{
      font-size:15px;
  }

  /*cart*/

  .rmvprod{
    text-align: center;
    
    font-size:12px;
    letter-spacing: normal;
    padding-right:20px;
  }
  
