.Countdown{
    margin: 10px auto;
    padding-bottom: 20px;
  }
  
.Countdowncol{
    display: inline-block;
  }
  
.Countdowncolelement{
    display: inline-block;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
  }
  
.Countdowncolelement strong{
    font-size: 35px;
  }



  .title{
    font-size: 50px;
    font-family: 'Balsamiq Sans', cursive;
    color:rgb(253, 218, 17);
  }
.countdownalign{
    font-size: 35px;
    text-align:center;
    align-items: center;
}