.headers{
    margin-top: 100px;
    font-size: 50px;
    /*margin-bottom: 200px;*/
}
.wrappers{
    position: relative;
    text-align:center;
    margin:auto;
    max-width: 1000px ;
    min-height: 120px;
    background-color: rgb(218, 216, 211);
    border-radius: 10px;;
}


.createlinks:hover{
    text-decoration: none;
    
}
.createlinks{
  font-size:22px;
}

.admininfo{
    font-size:22px;
}

li{
    list-style-type: none;
}


