.navbar 
{ background-color: #484848;
  /*opacity:0.9;*/
 }

img {
  width: 100px;
  height: 100px;
 }

 .cartbadge, .cartbadge:hover {
      border-radius: 50%;
      padding: 2px 6px;
      font-size: 12px;
      font-style: italic;
      background: rgb(243, 247, 19)
    }
.logofont{
  font-family: 'Merienda', cursive;
  font-weight: 900;
}
    
    